<nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-2">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Pangil Health Center Blog</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link btn p-1 bg-danger text-light" href="/">Sign out</a>
          </li>
        </ul>
      </nav>
      <div class="container-fluid">
            <div class="row">
              <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="/dashboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home" href="/dashboard"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        Dashboard <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Articles
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="/dashboard/viewarticles">View Articles</a>
                          <a class="dropdown-item" href="/dashboard/articles">Add New</a>
                          
                        </div>
                      </div>
                    </li>
                    <li class="nav-item m-2">
                        <a href="/dashboard/charts">Charts</a>
                      </li>
                    
                  </ul>
                </div>
              </nav>

              <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <form action="/dashboard/charts" class="form-group text-center mz-5" method="POST">
                        <label for="label1">First Label</label><br>
                        <input type="text" name="label1" id="label1"><br>
                        <label for="label2">Second Label</label><br>
                        <input type="text" name="label2" id="label2"><br>
                        <label for="data1">First Data</label><br>
                        <input type="number" name="data1" id="data1"><br>
                        <label for="data2">Second Data</label><br>
                        <input type="number" name="data2" id="data2"><br>
                        <label for="desc">Description for Chart</label><br>
                        <input type="text" name="content" id="desc"><br>

                        <button type="submit" class="button btn-success btn mt-3">Submit Data</button>
            
                    </form>
            
                   
          </main>