<nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-2">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Pangil Health Center Blog</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link btn p-1 bg-danger text-light" href="/">Sign out</a>
          </li>
        </ul>
      </nav>
  
      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/dashboard">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home" href="/dashboard"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                    Dashboard <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Articles
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/dashboard/viewarticles">View Articles</a>
                      <a class="dropdown-item" href="/dashboard/articles">Add New</a>
                      
                    </div>
                  </div>
                </li>
                <li class="nav-item m-2">
                    <a href="/dashboard/charts">Charts</a>
                  </li>
                
              </ul>
            </div>
          </nav>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                  <form action="/dashboard/viewarticles/<%=postID%>" class="form-group text-center mz-5" method="POST" id="formEdit">
                      <label for="Title">Title</label><br>
                      <input type="text" name="title" id="title" required><br>
                      <label for="author">Author</label><br>
                      <input type="text" name="author" id="author" required><br>
                      <label for="Content">Content</label><br>
                      <textarea name="content" id="content" cols="70" rows="20" required></textarea><br>
                      <p>note: You can use basic HTML syntax for formatting e.g &lt;br&gt;</p>
                      <button type="submit" class="button btn-success btn">Submit Article</button>
                  </form>
                  <form action="/dashboard/viewarticles/<%=postID%>/delete" method="POST">
                    <button type="submit" class="btn button btn-danger">Delete Article</button>
                  </form>
                          
        </main>
      
        <script>
                const articles = <%- JSON.stringify(articles)%>
                const form = document.querySelector('#formEdit')
               
                form.title.value = articles[0].title
                form.author.value = articles[0].author
                form.content.value = articles[0].content
            </script>